.about {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* padding: 30px; */
  gap: 2;
  height: max-content;
}

.abt-head {
  font-family: "Poppins";
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: 700;
  color: orange;
}

.about-left {
  flex: 1.5;
  padding: 00px;
  display: flex;
  align-items: center;
}

/* .about-left > img {
  height: 70%;
  margin: auto;
  border-radius: 20px;
  box-shadow: -20px -50px 50px rgba(255, 169, 11, 0.451);
} */

.about-right {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-right p {
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 30px;
  padding: 10px;
  text-align: justify;
}


@media only screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    padding: 0;
    padding-top: 20px;
    height: max-content;
  }
  .about-left{
    flex-direction: column;
  }

  .about-right p {
    font-size: 1.3rem;
    margin-top: 0px;
  }
  .about-left{
    display: flex;
    flex-direction: column;
  }
  .about-left > img{
    height: 60vh;
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    padding: 0;
    padding-top: 20px;
    height: max-content;
  }

  .about-right p {
    font-size: 1.2rem;
    margin-top: 0px;
  }
  .about-left{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 350px) {
  .about {
    flex-direction: column;
    padding: 0;
    padding-top: 20px;
    height: max-content;
  }
  .about-left{
    display: flex;
    flex-direction: column;
  }
  .frame {
    width: 200px;
    margin: 20px 0;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .frame:nth-child(1) {
    position: initial;
    animation: updown2 2s ease infinite;
  }
  .frame:nth-child(2) {
    position: initial;
    animation: updown2 2s ease infinite;
  }
  .frame:nth-child(3) {
    position: initial;
    animation: updown2 2s ease infinite;
  }

  .frame p {
    display: none;
  }

  .about-right p {
    font-size: 1.5rem;
    margin-top: 0px;
  }
}
