.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 80vh;
}

.i-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;
}

.i-name {
  display: flex;
  flex-direction: column;
  gap: 2;
}

.i-name > span {
  font-size: 1.5rem;
}
.i-name > span:first-child {
  box-shadow: 50px 350px 190px 1px rgb(2, 14, 255);
}
.i-name > span:nth-child(2) {
  font-family: "Poppins";
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-color: rgba(240, 248, 255, 0);
  box-shadow: 750px -50px 190px 1px purple;
}

.i-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vineet-img {
  width: 450px;
  margin: auto;
}

.floating-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  width: min-content;
  background: white;
  color: black;
  /* position: absolute; */
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif !important;
}

.floating-div > img {
  width: 80px;
  height: 80px;
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fd1 {
  position: absolute;
  z-index: 10;
  top: 20vh;
  right: 40vw;
}
.fd2 {
  position: absolute;
  z-index: 10;
  top: 70vh;
  right: 20vw;
}
.fd3 {
  position: absolute;
  z-index: 10;
  top: 30vh;
  scale: 0.8;
  right: 15vw;
  background-color: rgba(33, 133, 220, 0);
}

.fd3 img {
  scale: 2;
}

.intro-icon img {
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}
.intro-icon img:hover {
  /* box-shadow: 0px 0px 10px orange; */
  transform: scale(1.1);
}

@media only screen and (max-width: 1100px){
  .button{
    padding: 0;
    font-size: 1rem;
  }
.intro{
  padding: 0px;
}
.i-left{
  gap: 0.5rem;
  flex: 1;
}
.vineet-img{
  width: 100%;
}
.floating-div{
  display: none;
}
.i-name > span {
  font-size: 150%;
}
.i-name > span:nth-child(2){
  font-size: 220%;
}
.intro-icon  img{
  width: 40px;
  height: 40px;
}
}

@media only screen and (max-width: 600px) {
  .head {
    font-size: 1rem;
  }
  .typewriter{
    flex-direction: column;
  }

  .intro {
    flex-direction: column;
    height: max-content;
  }

  .intro-img {
    height: min-content;
  }
  .i-name {
    gap: 10px;
  }

  .i-name > span:nth-child(2) {
    font-size: 1.7rem;
  }
  .i-name > span:nth-child(3) {
    font-size: 1.2rem;
  }

  .intro-icon {
    display: flex;
  }
  .intro-img{
    
  }

  .intro-img > img {
    width: 100%;
  }

  .floating-div {
    scale: 0.7;
    display: flex;
  }

  .fd1 {
    position: relative;
    z-index: 10;
    top: -40vh;
    left: 48vw;
  }
  .fd2 {
    position: relative;
    z-index: 10;
    top: -20vh;
    left: 20vw;
  }
  .fd3 {
    position: relative;
    z-index: 10;
    scale: 0.4;
    top: -55vh;
    left: 0;
    background-color: rgba(33, 133, 220, 0);
  }
}

@media only screen and (max-width: 350px) {

  .intro-img > img {
    padding: 0;
    margin: 0;
  }
  .intro-img > img {
    scale: 0.9;
  }
  .i-left {
    width: 100%;
    padding: 10px;
  }


  .intro-icon img {
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
  }

  .floating-div {
    scale: 0.4;
  }

  .fd1 {
    top: -35vh;
    left: 40vw;
  }
  .fd2 {
    top: -25vh;
    left: 20vw;
  }
  .fd3 {
    scale: 0.3;
    top: -55vh;
    left: 0;
  }
}
